{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
            <!-- <div class="alert alert-success text-uppercase" role="alert">
                <i class="icon anm anm-truck-l icon-large"></i> &nbsp;<strong>Congratulations!</strong> You've got free shipping!
            </div> -->
            <form action="#" method="post" class="cart style2">
                <table>
                    <thead class="cart__row cart__header">
                        <tr>
                            <th colspan="2" class="text-center">Product</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Quantity</th>
                            <th class="text-right">Total</th>
                            <th class="action">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr class="cart__row border-bottom line1 cart-flex border-top">
                            <td class="cart__image-wrapper cart-flex-item">
                                <a href="#"><img class="cart__image" src="{% static 'belle/assets/images/product-images/product-image30.jpg' %}" alt="Elastic Waist Dress - Navy / Small"></a>
                            </td>
                            <td class="cart__meta small--text-left cart-flex-item">
                                <div class="list-view-item__title">
                                    <a href="#">Elastic Waist Dress </a>
                                </div>
                                
                                <div class="cart__meta-text">
                                    Color: Navy<br>Size: Small<br>
                                </div>
                            </td>
                            <td class="cart__price-wrapper cart-flex-item">
                                <span class="money">$735.00</span>
                            </td>
                            <td class="cart__update-wrapper cart-flex-item text-right">
                                <div class="cart__qty text-center">
                                    <div class="qtyField">
                                        <a class="qtyBtn minus" href="javascript:void(0);"><i class="icon icon-minus"></i></a>
                                        <input class="cart__qty-input qty" type="text" name="updates[]" id="qty" value="1" pattern="[0-9]*">
                                        <a class="qtyBtn plus" href="javascript:void(0);"><i class="icon icon-plus"></i></a>
                                    </div>
                                </div>
                            </td>
                            <td class="text-right small--hide cart-price">
                                <div><span class="money">$735.00</span></div>
                            </td>
                            <td class="text-center small--hide"><a href="#" class="btn btn--secondary cart__remove" title="Remove tem"><i class="icon icon anm anm-times-l"></i></a></td>
                        </tr>

                        <tr class="cart__row border-bottom line1 cart-flex border-top">
                            <td class="cart__image-wrapper cart-flex-item">
                                <a href="#"><img class="cart__image" src="{% static 'belle/assets/images/product-images/product-image27.jpg' %}" alt="Elastic Waist Dress - Navy / Small"></a>
                            </td>
                            <td class="cart__meta small--text-left cart-flex-item">
                                <div class="list-view-item__title">
                                    <a href="#">Elastic Waist Dress </a>
                                </div>
                                
                                <div class="cart__meta-text">
                                    Color: Navy<br>Size: Small<br>
                                </div>
                            </td>
                            <td class="cart__price-wrapper cart-flex-item">
                                <span class="money">$735.00</span>
                            </td>
                            <td class="cart__update-wrapper cart-flex-item text-right">
                                <div class="cart__qty text-center">
                                    <div class="qtyField">
                                        <a class="qtyBtn minus" href="javascript:void(0);"><i class="icon icon-minus"></i></a>
                                        <input class="cart__qty-input qty" type="text" name="updates[]" id="qty" value="1" pattern="[0-9]*">
                                        <a class="qtyBtn plus" href="javascript:void(0);"><i class="icon icon-plus"></i></a>
                                    </div>
                                </div>
                            </td>
                            <td class="text-right small--hide cart-price">
                                <div><span class="money"></span></div>
                            </td>
                            <td class="text-center small--hide"><a href="#" class="btn btn--secondary cart__remove" title="Remove tem"><i class="icon icon anm anm-times-l"></i></a></td>
                        </tr>

                        <tr class="cart__row border-bottom line1 cart-flex border-top">
                            <td class="cart__image-wrapper cart-flex-item">
                                <a href="#"><img class="cart__image" src="{% static 'belle/assets/images/product-images/product-image28.jpg' %}" alt="Elastic Waist Dress - Navy / Small"></a>
                            </td>
                            <td class="cart__meta small--text-left cart-flex-item">
                                <div class="list-view-item__title">
                                    <a href="#">Elastic Waist Dress </a>
                                </div>
                                
                                <div class="cart__meta-text">
                                    Color: Navy<br>Size: Small<br>
                                </div>
                            </td>
                            <td class="cart__price-wrapper cart-flex-item">
                                <span class="money">15000</span>
                            </td>
                            <td class="cart__update-wrapper cart-flex-item text-right">
                                <div class="cart__qty text-center">
                                    <div class="qtyField">
                                        <a class="qtyBtn minus" href="javascript:void(0);"><i class="icon icon-minus"></i></a>
                                        <input class="cart__qty-input qty" type="text" name="updates[]" id="qty" value="1" pattern="[0-9]*">
                                        <a class="qtyBtn plus" href="javascript:void(0);"><i class="icon icon-plus"></i></a>
                                    </div>
                                </div>
                            </td>
                            <td class="text-right small--hide cart-price">
                                <div><span class="money">$735.00</span></div>
                            </td>
                            <td class="text-center small--hide"><a href="#" class="btn btn--secondary cart__remove" title="Remove tem"><i class="icon icon anm anm-times-l"></i></a></td>
                        </tr>

                        <tr class="cart__row border-bottom line1 cart-flex border-top">
                            <td class="cart__image-wrapper cart-flex-item">
                                <a href="#"><img class="cart__image" src="{% static 'belle/assets/images/product-images/product-image29.jpg' %}" alt="Elastic Waist Dress - Navy / Small"></a>
                            </td>
                            <td class="cart__meta small--text-left cart-flex-item">
                                <div class="list-view-item__title">
                                    <a href="#">Elastic Waist Dress </a>
                                </div>
                                
                                <div class="cart__meta-text">
                                    Color: Navy<br>Size: Small<br>
                                </div>
                            </td>
                            <td class="cart__price-wrapper cart-flex-item">
                                <span class="money">$735.00</span>
                            </td>
                            <td class="cart__update-wrapper cart-flex-item text-right">
                                <div class="cart__qty text-center">
                                    <div class="qtyField">
                                        <a class="qtyBtn minus" href="javascript:void(0);"><i class="icon icon-minus"></i></a>
                                        <input class="cart__qty-input qty" type="text" name="updates[]" id="qty" value="1" pattern="[0-9]*">
                                        <a class="qtyBtn plus" href="javascript:void(0);"><i class="icon icon-plus"></i></a>
                                    </div>
                                </div>
                            </td>
                            <td class="text-right small--hide cart-price">
                                <div><span class="money">$735.00</span></div>
                            </td>
                            <td class="text-center small--hide"><a href="#" class="btn btn--secondary cart__remove" title="Remove tem"><i class="icon icon anm anm-times-l"></i></a></td>
                        </tr>
                        
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3" class="text-left"><a href="#" class="btn btn-secondary btn--small cart-continue">Continue</a></td>
                            <td colspan="3" class="text-right">
                                <button type="submit" name="clear" class="btn btn-secondary btn--small  small--hide">Clear Cart</button>
                                <button type="submit" name="update" class="btn btn-secondary btn--small cart-continue ml-2">Update Cart</button>
                            </td>
                        </tr>
                    </tfoot>
            </table> 
            </form>                   
           </div>
        
        
    </div>
</div>

{% endblock content %}